<div class="col-md-12 header" style ="display: flex;align-items: baseline;">
  <div class="col-md-4" style="padding-top: 10px">
    <a>
      <img 
      class="img-fluid" 
      style="width: 18%; cursor:pointer" 
      src="./../../../images/bot2.png" 
      title="CHATBOT"
      (click)="goToinit()"/>
    </a>
  </div>

  <div class="menu main">
  	<ul style="display:flex">
  		<li *ngFor="let menuEntry of menu" 
           style="display: -webkit-inline-box;padding-right: 30px;">
  			<a 
        [routerLink]="[menuEntry.url]"
        >{{menuEntry.entry}}</a>
  		</li>
  	</ul>
  </div>


</div>
