<div class="content">

  <div style="padding-top: 30px">
    <h1 class="text-center">
      WELCOME TO CHATBOT APPLICATION
    </h1>
  </div>

  <div style="min-height: 30rem;">
    <div class="col-md-10 text-center">
      <img class="img-fluid" style="width: 60%; padding-top: 5%;" src="./../../../images/robot.jpg" title="BBVA"/>
    </div>
  </div>

</div>