@font-face {
    font-family: 'bbva-icons';
    src: url('bbva-icons.eot?r2u3l4');
    src: url('bbva-icons.eot?r2u3l4#iefix') format('embedded-opentype'), url('bbva-icons.ttf?r2u3l4') format('truetype'), url('bbva-icons.woff?r2u3l4') format('woff'), url('bbva-icons.svg?r2u3l4#bbva-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="bbva-ic-"],
[class*=" bbva-ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bbva-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bbva-ic-account_icon:before {
    content: "\e900";
}

.bbva-ic-atm_icon:before {
    content: "\e901";
}

.bbva-ic-balance_icon:before {
    content: "\e902";
}

.bbva-ic-bill_icon:before {
    content: "\e903";
}

.bbva-ic-blockcard_icon:before {
    content: "\e904";
}

.bbva-ic-cash_icon:before {
    content: "\e905";
}

.bbva-ic-chargecard_icon:before {
    content: "\e906";
}

.bbva-ic-chargemovil_icon:before {
    content: "\e907";
}

.bbva-ic-contract:before {
    content: "\e908";
}

.bbva-ic-copycard_icon:before {
    content: "\e909";
}

.bbva-ic-creditcard_icon:before {
    content: "\e90a";
}

.bbva-ic-currencyexchange_icon:before {
    content: "\e90b";
}

.bbva-ic-deposit_icon:before {
    content: "\e90c";
}

.bbva-ic-digitalcard_icon:before {
    content: "\e90d";
}

.bbva-ic-dischargecard_icon:before {
    content: "\e90e";
}

.bbva-ic-dollar_icon:before {
    content: "\e90f";
}

.bbva-ic-euro_icon:before {
    content: "\e910";
}

.bbva-ic-expressaccount_icon:before {
    content: "\e911";
}

.bbva-ic-insurance_icon:before {
    content: "\e912";
}

.bbva-ic-international_icon:before {
    content: "\e913";
}

.bbva-ic-investment_icon:before {
    content: "\e914";
}

.bbva-ic-limits_icon:before {
    content: "\e915";
}

.bbva-ic-loan_icon:before {
    content: "\e916";
}

.bbva-ic-mobilepayment_icon:before {
    content: "\e917";
}

.bbva-ic-mortaje_icon:before {
    content: "\e918";
}

.bbva-ic-productportfolio_icon:before {
    content: "\e919";
}

.bbva-ic-return_icon:before {
    content: "\e91a";
}

.bbva-ic-seecvv_icon:before {
    content: "\e91b";
}

.bbva-ic-settings_icon:before {
    content: "\e91c";
}

.bbva-ic-stock_icon:before {
    content: "\e91d";
}

.bbva-ic-ticket_icon:before {
    content: "\e91e";
}

.bbva-ic-transfer_icon:before {
    content: "\e91f";
}

.bbva-ic-transferaccount_icon:before {
    content: "\e920";
}

.bbva-ic-transfercard_icon:before {
    content: "\e921";
}

.bbva-ic-wallet_icon:before {
    content: "\e922";
}

.bbva-ic-add_icon:before {
    content: "\e923";
}

.bbva-ic-back_icon:before {
    content: "\e924";
}

.bbva-ic-bbvaofice_icon:before {
    content: "\e925";
}

.bbva-ic-block_icon:before {
    content: "\e926";
}

.bbva-ic-checkmark_icon:before {
    content: "\e927";
}

.bbva-ic-close_icon:before {
    content: "\e928";
}

.bbva-ic-continue_icon:before {
    content: "\e929";
}

.bbva-ic-contract_icon:before {
    content: "\e92a";
}

.bbva-ic-correct_icon:before {
    content: "\e92b";
}

.bbva-ic-correctlocation_icon:before {
    content: "\e92c";
}

.bbva-ic-error_icon:before {
    content: "\e92d";
}

.bbva-ic-expand_icon:before {
    content: "\e92e";
}

.bbva-ic-exploration_icon:before {
    content: "\e92f";
}

.bbva-ic-fingerprint_icon:before {
    content: "\e930";
}

.bbva-ic-fold_icon:before {
    content: "\e931";
}

.bbva-ic-forward_icon:before {
    content: "\e932";
}

.bbva-ic-fraud_icon:before {
    content: "\e933";
}

.bbva-ic-getout_icon:before {
    content: "\e934";
}

.bbva-ic-hide_icon:before {
    content: "\e935";
}

.bbva-ic-link_icon:before {
    content: "\e936";
}

.bbva-ic-lock_icon:before {
    content: "\e937";
}

.bbva-ic-mapa_icon:before {
    content: "\e938";
}

.bbva-ic-menu_icon:before {
    content: "\e939";
}

.bbva-ic-more_icon:before {
    content: "\e93a";
}

.bbva-ic-mylocation_icon:before {
    content: "\e93b";
}

.bbva-ic-navigation_icon:before {
    content: "\e93c";
}

.bbva-ic-nearme_icon:before {
    content: "\e93d";
}

.bbva-ic-on_icon:before {
    content: "\e93e";
}

.bbva-ic-phishing_icon:before {
    content: "\e93f";
}

.bbva-ic-place_icon:before {
    content: "\e940";
}

.bbva-ic-return_icon-12:before {
    content: "\e941";
}

.bbva-ic-return_icon-15:before {
    content: "\e942";
}

.bbva-ic-seachinglocation_icon:before {
    content: "\e943";
}

.bbva-ic-security_icon:before {
    content: "\e944";
}

.bbva-ic-substract_icon:before {
    content: "\e945";
}

.bbva-ic-unfold_icon:before {
    content: "\e946";
}

.bbva-ic-unlock_icon:before {
    content: "\e947";
}

.bbva-ic-visualize_icon:before {
    content: "\e948";
}

.bbva-ic-walkingdirections_icon:before {
    content: "\e949";
}

.bbva-ic-withoutlocation_icon:before {
    content: "\e94a";
}

.bbva-ic-agenda_icon:before {
    content: "\e94b";
}

.bbva-ic-calculator_icon:before {
    content: "\e94c";
}

.bbva-ic-calendar_icon:before {
    content: "\e94d";
}

.bbva-ic-configuration_icon:before {
    content: "\e94e";
}

.bbva-ic-consult_icon:before {
    content: "\e94f";
}

.bbva-ic-copy_icon:before {
    content: "\e950";
}

.bbva-ic-desktop_icon:before {
    content: "\e951";
}

.bbva-ic-document_icon:before {
    content: "\e952";
}

.bbva-ic-download_icon:before {
    content: "\e953";
}

.bbva-ic-edit_icon:before {
    content: "\e954";
}

.bbva-ic-excel_icon:before {
    content: "\e955";
}

.bbva-ic-filter_icon:before {
    content: "\e956";
}

.bbva-ic-graphics_icon:before {
    content: "\e957";
}

.bbva-ic-historic_icon:before {
    content: "\e958";
}

.bbva-ic-home_icon:before {
    content: "\e959";
}

.bbva-ic-idcard_icon:before {
    content: "\e95a";
}

.bbva-ic-interactivity_icon:before {
    content: "\e95b";
}

.bbva-ic-listview_icon:before {
    content: "\e95c";
}

.bbva-ic-mobile_icon-26:before {
    content: "\e95d";
}

.bbva-ic-mobile_icon-28:before {
    content: "\e95e";
}

.bbva-ic-myprofile_icon:before {
    content: "\e95f";
}

.bbva-ic-pdf_icon:before {
    content: "\e960";
}

.bbva-ic-print_icon:before {
    content: "\e961";
}

.bbva-ic-safeforlater_icon:before {
    content: "\e962";
}

.bbva-ic-search_icon:before {
    content: "\e963";
}

.bbva-ic-settings_icon2:before {
    content: "\e964";
}

.bbva-ic-team_icon:before {
    content: "\e965";
}

.bbva-ic-titleview_icon:before {
    content: "\e966";
}

.bbva-ic-trash_icon:before {
    content: "\e967";
}

.bbva-ic-upload_icon:before {
    content: "\e968";
}

.bbva-ic-word_icon:before {
    content: "\e969";
}

.bbva-ic-alarm_icon:before {
    content: "\e96a";
}

.bbva-ic-alert_icon:before {
    content: "\e96b";
}

.bbva-ic-appstore_icon:before {
    content: "\e96c";
}

.bbva-ic-audio_icon:before {
    content: "\e96d";
}

.bbva-ic-BBVAcontigo_icon:before {
    content: "\e96e";
}

.bbva-ic-bluetooth_icon:before {
    content: "\e96f";
}

.bbva-ic-camera_icon:before {
    content: "\e970";
}

.bbva-ic-clock_icon:before {
    content: "\e971";
}

.bbva-ic-communication_icon:before {
    content: "\e972";
}

.bbva-ic-email_icon:before {
    content: "\e973";
}

.bbva-ic-facebook_icon:before {
    content: "\e974";
}

.bbva-ic-facebook2_icon:before {
    content: "\e975";
}

.bbva-ic-favorite_icon:before {
    content: "\e976";
}

.bbva-ic-googleplus_icon:before {
    content: "\e977";
}

.bbva-ic-googleplus2_icon:before {
    content: "\e978";
}

.bbva-ic-gooplay2_icon:before {
    content: "\e979";
}

.bbva-ic-hashtag_icon:before {
    content: "\e97a";
}

.bbva-ic-help_icon:before {
    content: "\e97b";
}

.bbva-ic-info_icon:before {
    content: "\e97c";
}

.bbva-ic-instagram_icon:before {
    content: "\e97d";
}

.bbva-ic-instagram2_icon:before {
    content: "\e97e";
}

.bbva-ic-language_icon:before {
    content: "\e97f";
}

.bbva-ic-linkedin_icon:before {
    content: "\e980";
}

.bbva-ic-linkedin2_icon:before {
    content: "\e981";
}

.bbva-ic-microphone_icon:before {
    content: "\e982";
}

.bbva-ic-mobiledisconnected_icon:before {
    content: "\e983";
}

.bbva-ic-nfcconnect_icon:before {
    content: "\e984";
}

.bbva-ic-nfcdisconnect_icon:before {
    content: "\e985";
}

.bbva-ic-pause_icon:before {
    content: "\e986";
}

.bbva-ic-pinterest_icon:before {
    content: "\e987";
}

.bbva-ic-pinterest2_icon-(1):before {
    content: "\e988";
}

.bbva-ic-play_icon:before {
    content: "\e989";
}

.bbva-ic-quotemark_icon:before {
    content: "\e98a";
}

.bbva-ic-reademail_icon:before {
    content: "\e98b";
}

.bbva-ic-reply_icon:before {
    content: "\e98c";
}

.bbva-ic-retweet_icon:before {
    content: "\e98d";
}

.bbva-ic-send_icon:before {
    content: "\e98e";
}

.bbva-ic-share_icon:before {
    content: "\e98f";
}

.bbva-ic-slideshare_icon:before {
    content: "\e990";
}

.bbva-ic-slideshare2_icon:before {
    content: "\e991";
}

.bbva-ic-support_icon:before {
    content: "\e992";
}

.bbva-ic-telephone_icon:before {
    content: "\e993";
}

.bbva-ic-twitter_icon:before {
    content: "\e994";
}

.bbva-ic-twitter2_icon:before {
    content: "\e995";
}

.bbva-ic-videochat_icon:before {
    content: "\e996";
}

.bbva-ic-videoplayline_icon:before {
    content: "\e997";
}

.bbva-ic-youtube_icon:before {
    content: "\e998";
}

.bbva-ic-youtube2_icon:before {
    content: "\e999";
}

.bbva-ic-auto_icon:before {
    content: "\e99a";
}

.bbva-ic-autobank_icon:before {
    content: "\e99b";
}

.bbva-ic-bank_icon:before {
    content: "\e99c";
}

.bbva-ic-bar_icon:before {
    content: "\e99d";
}

.bbva-ic-barcode_icon:before {
    content: "\e99e";
}

.bbva-ic-bookstore_icon:before {
    content: "\e99f";
}

.bbva-ic-build_icon:before {
    content: "\e9a0";
}

.bbva-ic-cashregister_icon:before {
    content: "\e9a1";
}

.bbva-ic-coffeshop_icon:before {
    content: "\e9a2";
}

.bbva-ic-discount_icon:before {
    content: "\e9a3";
}

.bbva-ic-donation_icon:before {
    content: "\e9a4";
}

.bbva-ic-education_icon:before {
    content: "\e9a5";
}

.bbva-ic-entretainment_icon:before {
    content: "\e9a6";
}

.bbva-ic-executive_icon:before {
    content: "\e9a7";
}

.bbva-ic-florist_icon:before {
    content: "\e9a8";
}

.bbva-ic-furniture_icon:before {
    content: "\e9a9";
}

.bbva-ic-health_icon:before {
    content: "\e9aa";
}

.bbva-ic-hotel_icon:before {
    content: "\e9ab";
}

.bbva-ic-jewel_icon:before {
    content: "\e9ac";
}

.bbva-ic-pets_icon:before {
    content: "\e9ad";
}

.bbva-ic-pinpadconnect_icon:before {
    content: "\e9ae";
}

.bbva-ic-pinpaddisconnected_icon:before {
    content: "\e9af";
}

.bbva-ic-point_icon:before {
    content: "\e9b0";
}

.bbva-ic-promotion_icon:before {
    content: "\e9b1";
}

.bbva-ic-restaurant_icon:before {
    content: "\e9b2";
}

.bbva-ic-retail_icon:before {
    content: "\e9b3";
}

.bbva-ic-retirement_icon:before {
    content: "\e9b4";
}

.bbva-ic-rewards_icon:before {
    content: "\e9b5";
}

.bbva-ic-sales_icon:before {
    content: "\e9b6";
}

.bbva-ic-savings_icon:before {
    content: "\e9b7";
}

.bbva-ic-services_icon:before {
    content: "\e9b8";
}

.bbva-ic-shop_icon:before {
    content: "\e9b9";
}

.bbva-ic-shopping_icon:before {
    content: "\e9ba";
}

.bbva-ic-supermarket_icon:before {
    content: "\e9bb";
}

.bbva-ic-toys_icon:before {
    content: "\e9bc";
}

.bbva-ic-travel_icon:before {
    content: "\e9bd";
}

.bbva-ic-weather_icon:before {
    content: "\e9be";
}

.bbva-ic-wellness_icon:before {
    content: "\e9bf";
}