// Common colors
$white: #ffffff;
$black: #000000;

// 6-blue brand
$blue1: rgb(9, 79, 164);
$blue2: rgb(0, 110, 193);
$blue3: rgb(0, 158, 229);
$blue4: rgb(82, 188, 236);
$blue5: rgb(137, 209, 243);
$blue6: rgb(181, 229, 249);

// Site
$site-color: #072146;

// Header & footer
$header-color: #072146;
$header-font-color: #BDBDBD;
$menu-color: #072146;
$menu-font-color: #BDBDBD;
$submenu-color: #004481;
$submenu-font-color: #E9E9E9;
$footer-color: #072146;
$footer-font-color: #FFFFFF;
$hover-color: #93a3ba
