.container {
    width: 1170px;
    margin: 0 auto;
    font-size: 0px;
}

.container * {
    font-size: 16px;
}

.column {
    display: inline-block;
    margin: 0 15px 0 0;
}

.last-column {
    margin-right: 0;
}

.block-2 {
    width: 166px;
}

.block-3 {
    width: 264px;
}

.block-4 {
    width: 362px;
}

.block-6 {
    width: 558px;
}

.block-8 {
    width: 754px;
}

.block-12 {
    width: 1146px;
}

.push-1 {
    margin-left: 98px;
}

.push-2 {
    margin-left: 196px;
}

.push-3 {
    margin-left: 294px;
}

.push-4 {
    margin-left: 392px;
}

.push-5 {
    margin-left: 490px;
}

.push-6 {
    margin-left: 588px;
}

.push-7 {
    margin-left: 686px;
}

.push-8 {
    margin-left: 784px;
}

.push-9 {
    margin-left: 882px;
}

.push-10 {
    margin-left: 980px;
}
